@page
@model EmailModel
@{
    ViewData["Title"] = "Zarządzaj adresem e-mail";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-3">
        <partial name="_ManageNav" />
    </div>
    <div class="col-md-9">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3 input-group">
                    <input asp-for="Email" class="form-control" placeholder="Twój aktualny e-mail" disabled />
                    <div class="input-group-append">
                        <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                    </div>
                    <label asp-for="Email" class="form-label">Aktualny e-mail</label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="Wpisz nowy adres e-mail" />
                    <label asp-for="Input.NewEmail" class="form-label">Nowy e-mail</label>
                    <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-primary">Zmień e-mail</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}