@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dane osobowe";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-3">
        <partial name="_ManageNav" />
    </div>
    <div class="col-md-9">
        <p>
            Twoje konto zawiera dane osobowe, które nam przekazałeś. Na tej stronie możesz pobrać lub usunąć te dane.
        </p>
        <p>
            <strong>Usunięcie tych danych spowoduje trwałe usunięcie Twojego konta i nie będzie można go odzyskać.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="d-inline">
            <button class="btn btn-primary" type="submit">Pobierz dane</button>
        </form>
        <p class="mt-3">
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger" onclick="return confirm('Czy na pewno chcesz usunąć swoje konto?');">Usuń konto</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}