@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

@if (TempData["StatusMessage"] != null)
{
    var statusMessageClass = TempData.ContainsKey("StatusMessageType")
        ? TempData["StatusMessageType"]!.ToString()
        : "success";

    <div class="alert alert-@statusMessageClass alert-dismissible fade show" role="alert">
        @TempData["StatusMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}