@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Potwierdź adres e-mail";
}

<h1>@ViewData["Title"]</h1>

<partial name="_StatusMessage" model="Model.StatusMessage" />

@if (Model.StatusMessage.Contains("successfully"))
{
    <div class="mt-4">
        <p>E-mail został potwierdzony. Możesz teraz zalogować się na konto.</p>
        <a asp-page="./Login" class="btn btn-primary btn-lg">Zaloguj się</a>
    </div>
}
else
{
    <div class="mt-4">
        <p>W razie wystąpienia problemów, spróbuj zarejestrować się ponownie.</p>
        <a asp-page="./Login" class="btn btn-outline-secondary">Powróć do logowania</a>
    </div>
}