@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Link do zresetowania hasła został wysłany.";
}

<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-header bg-primary text-white text-center">
                    <h2 class="my-4 fw-bold">Link do zresetowania hasła został wysłany.</h2>
                </div>
                <div class="card-body p-4 text-center">
                    <div class="mb-4">
                        <i class="fas fa-envelope fa-5x text-primary mb-3"></i>
                    </div>
                    <h4 class="mb-3">Sprawdź swoją skrzynkę.</h4>
                    <p class="text-muted">
						Wysłaliśmy link do zresetowania hasła na podany przez Ciebie adres e-mail.
                    </p>
                    <p class="text-muted">
						Sprawdź skrzynkę odbiorczą oraz folder spam, jeśli nie widzisz wiadomości.
                    </p>
                    <hr class="my-4" />
                    <p>
                        <a asp-page="./Login" class="btn btn-outline-primary">Powróć do logowania</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>